ion-content {
    --background: var(--ion-color-theme);
    ion-fab ion-button,ion-fab-button{
        --background: none;
        --box-shadow: none;
        --background-focused: var(--ion-color-medium);
        --background-hover: var(--ion-color-medium);
        color:var(--ion-color-theme-contrast);
    }
    ion-fab ion-button {
        --background-activated: none;
    }
    .swiper{
        height: 100%;
        color:var(--ion-color-theme-contrast);
    }
}
#home{
    display: grid;
    height: 100%;
    place-content: center;
    text-align: center;
    ion-avatar {
        width: 5rem;
        height: 5rem;
        margin: 0 auto;
    }
    h3{
        font-size: 2rem;
        font-weight: 900;
    }
    p{
        margin-top: .1rem;
    }
    ul{
        list-style: none;
        font-size: 1.5rem;
        margin: 10px 0px;
        li{
            display: inline;
            margin: 0 10px;
            a{
                color: var(--ion-color-theme-contrast);
            }
        }
    }
    ion-button {
        --background: var(--ion-color-danger);
        text-transform: capitalize;
    }
}
#experience{
    ion-card {
        box-shadow: 0px 5px 10px -5px var(--ion-color-medium-shade);
        ion-card-content{
            display: flex;
            .vr{
                padding-right: 1rem;
                span{
                    display: block;
                    height: 100%;
                    border-left: 2px solid var(--ion-color-danger);
                }
            }
            .content{
                small{
                    font-weight: 100;
                    color: #aeaeae;
                    font-size: .8rem;
                }
                h2{
                    font-size: 1.1rem;
                    margin: .8rem 0px .5rem 0px;
                    font-weight: 700;
                }
                p{
                    font-size: .8rem;
                    font-weight: 100;
                    a{
                        text-decoration: none;
                        color: var(--ion-color-warning);
                    }
                }
            }
        }
    }
}
#about{
    .ion-margin-top{
        margin-top: 5rem;
    }
    ion-card {
        box-shadow: 0px 5px 10px -5px var(--ion-color-medium-shade);
        overflow: unset;
        ion-card-header{
            height: 4rem;
            bottom: 4rem;
            ion-avatar {
                margin: 0 auto;
                width: 5rem;
                height: 5rem;
            }
        }
        ion-card-content {
            font-size: 1rem;
            text-align: justify;
        }
    }
    .languages ion-col{
        text-align: center;
        min-height: 100px;
        line-height: 100px;
        ion-icon {
            color: var(--ion-color-theme-contrast);
            margin: 0 auto;
            font-size: 2.5rem;
        }
    }
}